<%- include("partials/header"); -%>
<input type='file' />
<br><img id="img-to-ascii" src=<%=imageSource%> alt="Please upload an image!!"></img>
<input type="range" min="10" max="100" value="20" id="slider">
<button onclick="makeBlackAndWhite()">Click for ASCII</button>
<textarea id="ascii-output" name="ascii-output" rows="<%=rows%>" cols="<%=cols%>"><%=output%></textarea>
<canvas id="img-canvas"></canvas>
<%- include("partials/footer"); -%>